<div class="ui fluid card">
    <div class="content">
        <div class="header">
            {{flight.location.name}}
        </div>
        <div class="description">
            {{flight.number}} | {{flight.airline.name}}
            <div class="ui divider"></div>
            Real: {{datetime flight.real_time}}
            <br/>
            Scheduled: {{datetime flight.scheduled_time}}
        </div>
    </div>
    <div class="extra content">
        {{flight-status-ribbon status=flight.status}}
    </div>
</div>
